__pycache__
_analysis
_db/old
_history/old

*.ipynb_checkpoints

.vscode
.cache-c.bochulak
.cache-deedanvy
.cache-notbobbobby

archive_discover.bat
archive_history.bat
archive_library.bat

api_spotify.py